<div class="container my-4">
    <h4>Add Employee</h4>
      <div>
        <label>Topic</label><br>
        <input type="text" size="50" [(ngModel)]="newVotes.topicName" name="name" required>
      </div><br>
      <div>
        <label>Description</label><br>
        <input type="text" size="50" style="height:100px" [(ngModel)]="newVotes.topicDetail" name="description" required>
      </div>

      <div *ngFor="let option of optionDetail; let i = index">
        <label>Option {{i+1}}</label><br>
        <input type="text" size="50" [(ngModel)]="option.detail" name="option" required><br>
      </div><br>

      <div>
        <button class="btn btn-outline-primary btn-sm" (click)="moreOption()">+</button>
      </div><br>
      <button type="submit" class="btn btn-primary" (click)="addVote()">Create Vote</button>
</div>
  